// colores
$white:#fff;
$snow:#fafafa;
$quicksilver:#adadad;

$jollybean:#e56353;
$salmon:#e97f72;
$pastelpink:#fda9a1;


$granitegray:#6b6963;
$taupegray:#91918d;
$gray:#bababb;

//fuentes
font-family: 'Raleway', sans-serif;

// peso de fuentes
$raleway-extralight:200;
$raleway-regular:400;
$raleway-bold:700;

//tamaño de fuente
$xx-large:100px;
$x-large:70px;
$large:50px;
$medium:18px;







